{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="dark:bg-gray-900 bg-gray-100 min-h-screen py-10">
    <div class="container-fluid mx-auto px-4 pt-5">
        
        <div class="flex flex-col md:flex-row items-start gap-8"> <!-- Added gap for spacing between sections -->
            <!-- Left Section: Profile Image, Name, Email, and Details -->
            <div class="flex flex-col  md:mr-8 md:w-1/3"> <!-- Adjusted width for smaller column -->
                <!-- Profile Picture -->
                <div class="w-48 h-48 rounded-full overflow-hidden border-4 border-gradient-to-r from-purple-500 to-purple-700 transform transition-transform duration-300 hover:scale-105 self-center">
                    <img class="w-full h-full object-cover" src="{% if user_detail.profile_pic %}{{ user_detail.profile_pic.url }}{% else %}{% static 'Lab/media/default-profile.jpg' %}{% endif %}" alt="User Avatar">
                </div>
                
                <!-- Name, Email, and Date Joined -->
                <div class="mt-4">
                    <h2 class="text-2xl font-semibold text-gray-800 dark:text-white">{{ user_profile.first_name }} {{ user_profile.last_name }}</h2>
                    <p class="text-base text-gray-600 dark:text-gray-400">{{ user_detail.bio }}</p>
                    <p class="text-base text-gray-600 dark:text-gray-400">{{ user_profile.email }}</p>
                    <p class="text-gray-700 dark:text-gray-300 text-base">
                        <strong class="font-medium">Joined:</strong> {{ user_profile.date_joined }}
                    </p>
                </div>

                <!-- Profile Details Section (Role and Institute) -->
                <div class="mt-6 flex flex-col items-start md:w-1/3 border-t border-gray-300 dark:border-gray-700 pt-4">
                    <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Details</h2>
                    <p class="text-gray-700 dark:text-gray-300 text-base mb-2">
                        <strong class="font-medium">Role:</strong> {{ user_detail.get_role_display }}
                    </p>
                    <p class="text-gray-700 dark:text-gray-300 text-base">
                        {% comment %} <strong class="font-medium">Institute:</strong> {{ user_detail.institute }} {% endcomment %}
                    </p>
                    {% if social_media %}
                    <div class="flex flex-wrap mt-4 gap-1">
                        {% if social_media.github_username %}
                        <a href="https://github.com/{{ social_media.github_username }}" target="_blank" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">
                            <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400 flex flex-nowrap items-center gap-1 whitespace-nowrap"><i class="fab fa-github fa-x"></i> {{ social_media.github_username }}</span>
                        </a>
                        {% endif %}
                        {% if social_media.linkedin_username %}
                        <a href="https://www.linkedin.com/in/{{ social_media.linkedin_username }}" target="_blank" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">
                            <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400 flex flex-nowrap items-center gap-1 whitespace-nowrap"><i class="fab fa-linkedin fa-x"></i> {{ social_media.linkedin_username}}</span>
                        </a>
                        {% endif %}
                        {% if social_media.twitter_username %}
                        <a href="https://twitter.com/{{ social_media.twitter_username }}" target="_blank" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">
                            <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400 flex flex-nowrap items-center gap-1 whitespace-nowrap"> <i class="fab fa-twitter fa-x"></i> {{ social_media.twitter_username}}</span>
                        </a>
                        {% endif %}
                        {% if social_media.facebook_username %}
                        <a href="https://www.facebook.com/{{ social_media.facebook_username }}" target="_blank" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">
                            <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400 flex flex-nowrap items-center gap-1 whitespace-nowrap"><i class="fab fa-linkedin fa-x"></i> {{ social_media.facebook_username}}</span>
                        </a>
                        {% endif %}
                        {% if social_media.instagram_username %}
                        <a href="https://www.instagram.com/{{ social_media.instagram_username }}" target="_blank" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white">
                            <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400 flex flex-nowrap items-center gap-1 whitespace-nowrap"><i class="fab fa-instagram fa-x"></i> {{ social_media.instagram_username}}</span>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if not all_social_media_filled %}
                    <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-max">Social Media +</button>
                    {% endif %}
                </div>
            </div>

            <div class="flex flex-col w-full gap-3">
                <!-- Right Section: Repositories -->
                <div class="flex-1 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-xl shadow-lg p-6">
                    <h2 class="text-2xl md:text-3xl font-semibold text-gray-900 dark:text-white mb-4">Repositories</h2>
                    <ul class="space-y-4 border-t border-b border-gray-300 dark:border-gray-700 pt-4 pb-4">
                        {% for repo in repositories %}
                        <li class="p-4 bg-gray-100 dark:bg-gray-700 rounded-md shadow-md">
                            <a href="{% url "repository_detail" repo.pk %}" class="text-lg font-medium text-gray-900 dark:text-white">{{ repo.name }}</a>
                            <p class="text-sm text-gray-500 dark:text-gray-400">{{ repo.description }}</p>
                        </li>
                        {% empty %}
                        <p class="text-gray-500 dark:text-gray-300">No repositories available.</p>
                        {% endfor %}
                    </ul>
                    
                </div>

                <!-- Solved Problems Section -->
                <div class="flex-1 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-xl shadow-lg p-6">
                    <h2 class="text-2xl md:text-3xl font-semibold text-gray-900 dark:text-white mb-4">Solved Problems</h2>
                    <ul class="space-y-4 border-t border-b border-gray-300 dark:border-gray-700 pt-4 pb-4">
                        {% for problem in solved_problems %}
                        <li class="p-4 bg-gray-100 dark:bg-gray-700 rounded-md shadow-md">
                            <a href="{% url "problem_detail" problem.pk %}" class="text-lg font-medium text-gray-900 dark:text-white">{{ problem.title }}</a>
                            <p class="text-sm text-gray-500 dark:text-gray-400">{{ problem.description }}</p>
                        </li>
                        {% empty %}
                        <p class="text-gray-500 dark:text-gray-300">No solved problems available.</p>
                        {% endfor %}
                    </ul>
                    
                </div>
            </div>
        </div>
       
    </div>
</div>
{% endblock body %}
