{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="bg-gray-300 dark:text-white dark:bg-gray-800 h-screen">
        <p class="text-3xl dark:text-white">{{ repository.name }}</p>
        <p class="dark:text-white">{{ repository.description }}</p>
        <p class="dark:text-white">Owner: {{ repository.owner.username }}</p>
        <p class="dark:text-white">Created at: {{ repository.created_at }}</p>
        <h2 class="dark:text-white">Files</h2>
        <ul>
            {% for file in files %}
            <li class="dark:text-white">{{ file.path }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}