{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/monokai.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/xml/xml.min.js"></script>
{% endblock css %}

{% block body %}
    <div class="bg-gray-300 dark:text-white dark:bg-gray-800 min-h-screen">
        <p>Title: {{ problem.title }}</p>

        <pre>Description: {{ problem.description }}</pre>

        <h3>Sample Input</h3>
        <p>
            {% if problem.sample_input %}
                {% for var, val in problem.sample_input.0.items %}
                    <p>{{var}}:{{val}}</p>
                {% endfor %}
            {% endif %}
        </p>

        <h3>Sample Output</h3>
        <p>
            {% if problem.sample_output %}
                {{ problem.sample_output.0 }}
            {% endif %}
        </p>

        <form method="POST">
            {% csrf_token %}
            <div class="mb-4 right-0">
                <label for="language" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Select Language</label>
                <select id="language" name="language" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md dark:text-white dark:bg-gray-700 max-w-fit">
                    <option value="python3" {% if selected_language == 'python3' %}selected{% endif %}>Python</option>
                    <option value="javascript" {% if selected_language == 'javascript' %}selected{% endif %}>JavaScript</option>
                    <option value="java" {% if selected_language == 'java' %}selected{% endif %}>Java</option>
                    <option value="cpp" {% if selected_language == 'cpp' %}selected{% endif %}>C++</option>
                    <option value="csharp" {% if selected_language == 'csharp' %}selected{% endif %}>C#</option>
                </select>
            </div>
            <textarea id="code-editor" name="code" rows="10" cols="80" placeholder="Write your solution here...">{{ code|default:code_snippets.code }}</textarea>
            <button type="submit" name="action" value="run"
                class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >Run</button>
            <button type="submit" name="action" value="submit"
                class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >Submit</button>
        </form>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var languageSelect = document.getElementById('language');
                var selectedLanguage = languageSelect.value;
                var mode = selectedLanguage;

                if (mode === 'python3') {
                    mode = 'python';
                } else if (mode === 'cpp') {
                    mode = 'text/x-c++src';
                } else if (mode === 'csharp') {
                    mode = 'text/x-csharp';
                }

                var editor = CodeMirror.fromTextArea(document.getElementById('code-editor'), {
                    lineNumbers: true,
                    mode: mode,  // Set language mode based on selected language
                    theme: 'monokai'  // Set the theme
                });

                languageSelect.addEventListener('change', function() {
                    var mode = this.value;
                    var language = mode;
                    if (mode === 'python3') {
                        mode = 'python';
                    } else if (mode === 'cpp') {
                        mode = 'text/x-c++src';
                    } else if (mode === 'csharp') {
                        mode = 'text/x-csharp';
                    }
                    editor.setOption('mode', mode);

                    // Show loading message
                    editor.setValue('Loading...');

                    // Fetch the code snippet for the selected language
                    var problemId = {{ problem.id }};
                    fetch(`/code/problem/${problemId}/code_snippet/?language=${language}`)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            editor.setValue(data.code);
                        });
                });
            });
        </script>

        {% if result %}
            <h3>Public Test Cases:</h3>
            <div class="results flex flex-wrap gap-2">
                {% for ans in result %}
                    <div class="result border-2 flex gap-4 p-2 border-gray-700 dark:border-gray-50">
                        <div class="arguments">
                            {% for var, val in ans.input_set.items %}
                                <p>{{var}}: {{ val }}</p>
                            {% endfor %}
                        </div>
                        <p>Your Output: {{ ans.actual_output }}</p>
                        <p>Expected Output: {{ ans.expected_output }}</p>
                        {% if ans.is_match %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                        <hr>
                    </div>  
                {% endfor %}
            </div>
        {% endif %}

        {% if summary %}
            <h3>Summary:</h3>
            <div class="summary">
                <p>Time: {{ summary.average_execution_time }}</p>
                <p>Memory: {{ summary.average_memory_used }}</p>
            </div>
        {% endif %}

        {% if all_results %}
            <h3>Test Case Results:</h3>
            <div class="test-case-results border-2 p-1 flex gap-2" style="width: fit-content;">
                {% for test_case_result in all_results %}
                    <div class="test-case-result border-2 p-2 gap-3 w">
                        <p>Input: 
                            <div class="arguments">
                                {% for var, val in test_case_result.input_set.items %}
                                    <p>{{var}}: {{val}}</p>
                                {% endfor %}
                            </div>
                        </p>
                        <p>Expected Output: {{ test_case_result.expected_output }}</p>
                        <p>Actual Output: {{ test_case_result.actual_output }}</p>
                        {% if test_case_result.is_match %}
                            <p>Status: ✅</p>
                        {% else %}
                            <p>Status: ❌</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if error %}
            <div class="error">
                <pre>{{ error }}</pre>
            </div>
        {% endif %}
    </div>

{% endblock body %}