{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/monokai.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/xml/xml.min.js"></script>
{% endblock css %}

{% block body %}
<div class="bg-gray-50 dark:bg-gray-900 min-h-screen text-gray-900 dark:text-white">
    {% comment %} <div class="max-w-7xl mx-auto py-6 px-4 lg:px-8 space-y-6"> {% endcomment %}
        
        <!-- Page Header -->
        <div class="flex items-center justify-between border-b p-5">
            <h1 class="text-2xl font-semibold text-indigo-600">{{ problem.title }}</h1>
            <button id="toggleFullscreen" class="text-sm bg-indigo-600 hover:bg-indigo-700 text-white py-2 px-4 rounded focus:outline-none">
                Toggle Fullscreen
            </button>
        </div>

        <!-- Main Content -->
        <div id="layoutWrapper" class="grid gap-2 md:grid-cols-2 grid-cols-1">
            <!-- Problem Description Section -->
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 space-y-4">
                <h2 class="text-xl font-medium text-gray-700 dark:text-gray-300 sm:text-2xl md:text-3xl">Problem Description</h2>
                <p class="text-sm text-gray-700 dark:text-gray-300 sm:text-base md:text-lg">{{ problem.description }}</p>
                
                <div>
                    <h3 class="text-md font-semibold text-gray-600 dark:text-gray-400 sm:text-lg md:text-xl">Sample Input</h3>
                    <pre class="flex mt-2 text-gray-800 dark:text-gray-200 bg-gray-100 dark:bg-gray-900 p-3 rounded max-w-full max-h-64 overflow-auto">
                        {% if problem.sample_input %}
                                {% for var, val in problem.sample_input.0.items %}
                                    <p class="mr-2">{{ var }}: {{ val }}</p>
                                {% endfor %}
                        {% endif %}
                    </pre>
                </div>
                <div>
                    <h3 class="text-md font-semibold text-gray-600 dark:text-gray-400 sm:text-lg md:text-xl">Sample Output</h3>
                    <pre class="flex mt-2 text-gray-800 dark:text-gray-200 bg-gray-100 dark:bg-gray-900 p-3 rounded max-w-full max-h-64 overflow-auto">
                        {% if problem.sample_output %}
                                <p>{{ problem.sample_output.0 }}</p>
                        {% endif %}
                    </pre>
                </div>

                <div>
                    <h3 class="text-md font-semibold text-gray-600 dark:text-gray-400 sm:text-lg md:text-xl">Explanation</h3>
                    <pre class="flex mt-2 text-gray-800 dark:text-gray-200 bg-gray-100 dark:bg-gray-900 p-3 rounded max-w-full max-h-64 overflow-auto">
                        {% if problem.explanation %}
                                <p>{{ problem.explanation }}</p>
                        {% endif %}
                    </pre>
                </div>
            </div>

            <!-- Code Editor Section -->
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 space-y-4">
                <form method="POST" class="space-y-4">
                    {% csrf_token %}
                    <label for="language" class=" text-xl font-medium text-gray-700 dark:text-gray-300 sm:text-2xl md:text-3xl">Select Language</label>
                    <div class="flex items-center justify-between gap-4">
                        
                        <!-- Select Dropdown on the Right -->
                        <select id="language" name="language" class="w-1/4 py-2 px-3 border rounded text-gray-700 dark:text-gray-300 bg-gray-50 dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                            <option value="python3">Python</option>
                            <option value="javascript">JavaScript</option>
                            <option value="java">Java</option>
                            <option value="cpp">C++</option>
                        </select>
                        <!-- Run and Submit Buttons on the Left -->
                        <div class="flex gap-2">
                            <button type="submit" name="action" value="run" 
                                class="bg-green-600 text-white py-2 px-5 rounded font-semibold shadow-lg hover:bg-green-700 focus:ring-4 focus:ring-green-300 dark:focus:ring-green-700 transform transition-all duration-200 ease-out hover:scale-105"
                            >Run</button>
                            
                            <button type="submit" name="action" value="submit" 
                                class="bg-gradient-to-r from-blue-500 to-blue-700 text-white py-2 px-5 rounded font-semibold shadow-lg hover:from-blue-600 hover:to-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-700 transform transition-all duration-200 ease-out hover:scale-105"
                            >Submit</button>
                        </div>
                    </div>
                    
                    <!-- Code Editor -->
                    <textarea id="code-editor" name="code" rows="10" class="w-full p-4 border dark:border-gray-700 rounded-lg focus:ring-2 focus:ring-indigo-500">{{ code|default:code_snippets.code }}</textarea>

                </form>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const toggleButton = document.getElementById('toggleFullscreen');
                const layoutWrapper = document.getElementById('layoutWrapper');
        
                // Function to check if the screen width is mobile
                function isMobile() {
                    return window.innerWidth < 768;
                }
        
                toggleButton.addEventListener('click', function() {
                    if (!isMobile()) { // Only toggle if not on mobile
                        layoutWrapper.classList.toggle('grid-cols-1');
                        layoutWrapper.classList.toggle('md:grid-cols-2');
                    }
                });
        
                // Initialize CodeMirror editor with the default language
                const editor = CodeMirror.fromTextArea(document.getElementById('code-editor'), {
                    lineNumbers: true,
                    mode: 'python',
                    theme: 'monokai',
                    viewportMargin: Infinity, // Ensures the editor height adjusts to content
                    height: 'auto'
                });
                editor.setSize(null, '400px');
        
                // Change editor mode based on selected language
                document.getElementById('language').addEventListener('change', function() {
                    let mode = this.value;
                    if (mode === 'python3') mode = 'python';
                    else if (mode === 'cpp') mode = 'text/x-c++src';
                    else if (mode === 'csharp') mode = 'text/x-csharp';
        
                    editor.setOption('mode', mode);
                    editor.setValue('Loading...');
                    const problemId = {{ problem.id }};
                    fetch(`/code/problem/${problemId}/code_snippet/?language=${this.value}`)
                        .then(response => response.json())
                        .then(data => {
                            editor.setValue(data.code);
                        });
                });
            });
        </script>
        

        <!-- Public Test Cases -->
        {% if result %}
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 space-y-4">
            <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-300 sm:text-xl md:text-2xl">Public Test Cases:</h3>
            {% for ans in result %}
                    <div class="bg-gray-50 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 rounded-md p-4">
                        <p class="text-sm sm:text-base text-gray-700 dark:text-gray-400">
                            <span class="text-gray-500 font-semibold text-lg">Input: </span>
                            {% if ans.input_set %}
                                {% for var, val in ans.input_set.items %}
                                    <span class="mr-2">{{ var }}: {{ val }}</span>
                                {% endfor %}
                            {% endif %}

                        </p>
                        <p class="text-sm sm:text-base text-gray-700 dark:text-gray-300">
                            <span class="text-gray-500">Your Output:</span> {{ ans.actual_output }}</p>
                        <p class="text-sm sm:text-base text-gray-700 dark:text-gray-300"><span class="text-gray-500">Expected Output:</span> {{ ans.expected_output }}</p>
                        <span class="{% if ans.is_match %}text-green-600{% else %}text-red-600{% endif %}">
                            {% if ans.is_match %}✅ Match{% else %}❌ Mismatch{% endif %}
                        </span>
                    </div>
                {% endfor %}
        </div>
        {% endif %}

        <!-- Summary and Test Case Results -->
        {% if summary %}
        <div class=" space-y-4 bg-white dark:bg-gray-800 rounded-lg shadow p-6">
            <h3 class="text-lg font-medium text-gray-700 dark:text-gray-300 sm:text-xl md:text-2xl">Summary:</h3>
            <p class="text-sm sm:text-base md:text-lg">Time: {{ summary.average_execution_time }}</p>
            <p class="text-sm sm:text-base md:text-lg">Memory: {{ summary.average_memory_used }}</p>
        </div>
        {% endif %}

        {% comment %} Private Test cases  {% endcomment %}
        {% if all_results %}
        <div class="mt-6 space-y-6">
            <h3 class="text-lg font-medium text-gray-700 dark:text-gray-300 sm:text-xl md:text-2xl">Test Case Results:</h3>
            <div class="space-y-4">
                {% for result in all_results %}
                    <div class="bg-gray-50 dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-600 rounded-md p-4">
                        <p class="text-sm sm:text-base text-gray-700 dark:text-gray-400">
                            <span class="text-gray-500 font-semibold text-lg">Input: </span>
                            {% if result.input_set %}
                                {% for var, val in result.input_set.items %}
                                    <span class="mr-2">{{ var }}: {{ val }}</span>
                                {% endfor %}
                            {% endif %}

                        </p>
                        <p class="text-sm sm:text-base text-gray-700 dark:text-gray-300">
                            <span class="text-gray-500">Your Output:</span> {{ result.actual_output }}</p>
                        <p class="text-sm sm:text-base text-gray-700 dark:text-gray-300"><span class="text-gray-500">Expected Output:</span> {{ result.expected_output }}</p>
                        <span class="{% if result.is_match %}text-green-600{% else %}text-red-600{% endif %}">
                            {% if result.is_match %}✅ Match{% else %}❌ Mismatch{% endif %}
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% comment %} </div> {% endcomment %}
</div>

{% endblock %}
