<ul>
    {% if contents.items %}
        <!-- Folder -->
        <li class="folder group flex flex-col rounded-md cursor-pointer">
            <div class="folder-header flex items-center px-2 ">
                <svg class="w-5 h-5 mr-2 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7h18M3 7l3-3h12l3 3M3 7v10a2 2 0 002 2h14a2 2 0 002-2V7" />
                </svg>
                <span class="font-bold">{{ folder }}</span>
            </div>

            <ul class="nested hidden ml-4">

                {% for subfolder, subcontents in contents.items %}
                    {% include 'components/file_tree.html' with folder=subfolder contents=subcontents %}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <!-- File -->
        <li class="file flex items-center px-2 rounded-md hover:bg-gray-300 dark:hover:bg-gray-600">
            <svg class="w-5 h-5 mr-2 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a2 2 0 002 2h12a2 2 0 002-2v-1M4 8v8m0-8l4-4m0 0h8m-8 0v4m8-4v4m0-4l4 4" />
            </svg>
            <a href="#" class="file-link text-gray-700 dark:text-gray-200" 
               data-file-id="{{ contents.id }}" 
               data-repo-id="{{ contents.repository.id }}">{{ folder }}</a>
        </li>
    {% endif %}
</ul>

<script>
</script>
